:root {
  --background: 0, 0, 0;
  --section: 255, 255, 255;
  --card: 255, 255, 255;
  --tag: 248, 248, 248;
  --input: 217, 217, 217;
  --cardBorderAlpha: 1;

  --border: 217, 217, 217;
  --cardBorder: var(--border), var(--cardBorderAlpha);

  --primary: 52, 85, 139;
  --secondary: 200, 57, 57;

  --primaryText: 0, 0, 0;
  --secondaryText: 108, 108, 108;

  background: rgba(var(--background));
}

:root[data-theme="dark"] {
  --background: 0, 0, 0;
  --section: 28, 28, 28;
  --card: 36, 36, 36;
  --tag: 41, 41, 41;
  --input: 248, 248, 248;
  --cardBorderAlpha: 0;
  --border: 255, 255, 255;
  --cardBorder: var(--border), var(--cardBorderAlpha);

  --primary: 52, 85, 139;
  --secondary: 200, 57, 57;
  --primaryText: 255, 255, 255;
  --secondaryText: 154, 154, 154;

  background: rgba(var(--background));
}
